/* Variables */

:root {
  --basic-black: 0, 0, 0;
  --basic-white: 255, 255, 255;
  --basic-grey: #32425C;
  --basic-grey-darker: #293449;
  --basic-grey-darkest: #1D2739;
  --basic-grey-thedarkest: #161D29;
  /* a9a9a9 */
  --basic-grey-light-darker: 169, 169, 169;
  /* #b5b5b5 */
  --basic-grey-light: 181, 181, 181;
  /* #c5c5c5 */
  --basic-grey-lighter: 197, 197, 197;
  /* #e9e9e9 */
  --basic-grey-lightest: 233, 233, 233;
  --basic-red: #EE3643;
  --basic-red-darker: #BA2732;
  --basic-red-lighter: #FF5357;
  --basic-green: #63A63E;
  --basic-green-lighter: #5FBB2D;
  --basic-green-darker: #518534;
  --basic-green-darkest: #367315;
  --basic-background: #F1F5F7;
  --basic-background-secondary: #F9F5F0;

  --special-yellow: #FFBF47;
  --special-yellow-light: #FFD180;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  --special-grey: #697180;
  --social-grey: #212A3A;
  --footer-grey: #F3F7F9;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgba(var(--basic-black), 1);
  background-color: rgba(var(--basic-white), 1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.centered {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-button {
  display: inline-block;
  min-width: 172px;
  padding: 11px 10px 9px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-red);
  color: rgba(var(--basic-white), 1);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.site-button:active {
  background-color: var(--basic-red-darker);
}

.modal-close-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.content-heading {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
  font-weight: normal;
}

.section-heading {
  padding: 0;
  margin: 0;
  color: rgba(var(--basic-black), 1);
}

.content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header {
  padding-bottom: 60px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  background-color: var(--basic-background);
}

.top-bar {
  color: rgba(var(--basic-white), 1);
  background-color: var(--basic-grey-darker);
}

.top-bar-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.nav-logo {
  position: absolute;
  flex-basis: 220px;
  padding: 12px 57px 12px 55px;
  margin: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black), 0.24);
}

.site-search {
  flex-basis: 270px;
  margin: 0;
  padding: 0;
  padding-left: 220px;
}

.search-field {
  box-sizing: border-box;
  width: 271px;
  min-height: 42px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 49px;
  margin: 0;
  outline: none;
  background-color: transparent;
  background-image: url("../img/icon-search-gray.svg");
  background-repeat: no-repeat;
  background-position: 25px 12px;
  border: 0;
}

.search-field:hover {
  background-image: url("../img/icon-search.svg");
}

.search-field:active,
.search-field:focus {
  background-image: url("../img/icon-search-red.svg");
  background-color: rgba(var(--basic-white), 1);
}

.search-field::-webkit-input-placeholder {
  color: rgba(var(--basic-white), 1);
}

.search-field:active::placeholder,
.search-field:focus::placeholder {
  color: rgba(var(--basic-black), 1);
}

.user-action {
  padding: 9px 10px;
  text-align: center;
  color: rgba(var(--basic-white), 1);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.user-action-bookmark {
  flex-basis: 141px;
}

.user-action-cart {
  flex-basis: 118px;
}

.user-action-order {
  flex-basis: 130px;
}

.user-action svg {
  margin-right: 9px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.user-action:hover svg {
  opacity: 1;
}

.user-action:active {
  color: rgba(var(--basic-white), 0.5);
  background-color: var(--basic-grey-thedarkest);
}

.user-action:active svg {
  opacity: 0.3;
}

.user-action-accent {
  text-align: center;
  background-color: var(--basic-green);
}

.user-action-accent:hover {
  background-color: var(--basic-green-lighter);
}

.user-action-accent:active {
  background-color: var(--basic-green);
}

.user-action-active {
  background-color: var(--basic-red);
}

.user-action-active:active {
  background-color: var(--basic-red-darker);
}

.header-mid {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 42px;
}

.header-heading {
  flex-basis: 197px;
  padding: 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
}

.header-address-section {
  flex-basis: 270px;
}

.header-address-phone {
  display: block;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 3px;
  padding-left: 19px;
  border: 3px solid rgb(var(--basic-white));
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-red);
}

.header-address-phone:before {
  content: url("../img/icon-phone.svg");
  padding-right: 16px;
}

.header-address {
  font-size: 14px;
  font-style: normal;
  color: var(--basic-grey);
  text-align: center;
}

.user-login-section {
  flex-basis: 300px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 21px;
  line-height: 21px;
}

.log-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 121px;
  margin-right: 10px;
  color: rgba(var(--basic-black), 1);
  background-color: rgba(var(--basic-white), 1);
}

.log-action-btn:last-child {
  margin: 0;
}

.log-action-btn svg {
  margin-right: 6px;
}

.log-action-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;
  text-decoration: none;
  color: rgba(var(--basic-black), 1);
  background-color: rgb(var(--basic-white));
}

.profile {
  padding-right: 5px;
}

.profile svg {
  margin-right: 20px;
}

.logout {
  padding-right: 17px;
}

.logout svg {
  padding: 2px 0;
}

.log-action-btn:hover,
.log-action-btn:focus,
.log-action-link:hover,
.log-action-link:focus {
  color: var(--basic-red);
}

.log-action-btn:active,
.log-action-link:active {
  color: rgba(var(--basic-grey-light), 1);
}

.log-action-btn:hover svg,
.log-action-link:hover svg {
  fill: var(--basic-grey);
}

.log-action-btn:active svg,
.log-action-link:active svg {
  fill: rgb(var(--basic-grey-light));
}

.user-menu {
  flex-basis: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 18px;
}

.user-menu-item {
  display: flex;
  align-items: center;
}

.user-menu-item::after {
  content: "";
  width: 5px;
  height: 5px;
  margin: 0 13px;
  background: #32425c;
  border-radius: 50px;
}

.user-menu-item:last-child::after {
  display: none;
}

.user-menu-link {
  color: var(--basic-grey);
}

.user-menu-link:hover,
.user-menu-link:focus {
  color: var(--basic-red);
}

.user-menu-link:active {
  color: rgba(var(--basic-grey-light), 1);
}

.header-nav {
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px var(--basic-grey-darker);
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 25px;
}

.header-nav-link {
  display: block;
  padding: 16px 24px 15px 27px;
  color: rgba(var(--basic-white), 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  background-color: var(--basic-grey-darker);
}

.header-nav-link:active {
  color: rgba(var(--basic-white), 0.5);
  background-color: var(--basic-grey-darkest);
}

.offer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 59px;
  margin-bottom: 59px;
  font-family: "Cuprum", Arial, sans-serif;
}

.category {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-width: 254px;
  height: 83px;
  padding: 20px 23px;
  font-size: 24px;
  line-height: 30px;
  color: rgba(var(--basic-white), 1);
}

.category h3 {
  flex-basis: 100%;
  margin: 0;
}

.category-materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category-instruments {
  background-color: var(--special-blue);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category-technics {
  background-color: var(--special-purple);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category-offers {
  background-color: var(--special-green);
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category-delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category-button {
  padding: 10px;
  min-width: 135px;
  color: rgba(var(--basic-white), 1);
  background-color: rgba(var(--basic-white), 0.3)
}

.category-button:hover {
  background-color: rgba(var(--basic-grey-lighter), 0.3);
}

.category-button:active {
  background-color: rgba(var(--basic-grey-light-darker), 0.3);
}

.slider-section {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.slider-wrapper {
  position: relative;
}

.slider-slide {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  opacity: 0;
  pointer-events: none;
  width: 620px;
  height: 266px;
  color: white;
  background-repeat: no-repeat;
}

.active-slide {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.first-slide {
  background-image: url(../img/slider-1.jpg);
}

.second-slide {
  background-image: url(../img/slider-2.jpg);
}

.slider-info-wrapper {
  flex-basis: 100%;
  padding: 23px 24px 16px;
  margin-bottom: 60px;
  background-color: rgba(var(--basic-black), 0.4);
}

.slider-button-wrapper {
  padding: 27px 24px;
}

.slider-slide h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-slide p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.slider-controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 122px;
  width: 100%;
}

.slider-toggle-container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 24px;
  margin-bottom: 36px;
}

.slider-toggle {
  padding: 0;
  width: 22px;
  height: 40px;
  border: 0;
  background-color: transparent;
}

.slider-switch-container {
  margin: 0 auto;
}

.slider-switch {
  margin-right: 10px;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  background-color: white;
}

.slider-switch:last-child {
  margin-right: 0;
}

.popular-section {
  margin-bottom: 70px;
}

.popular-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 14px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--basic-background-secondary);
}

.popular-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px 20px;
}

.product-list-item {
  display: block;
}

.product-list-item:last-child {
  margin-right: 0;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 8px 18px 21px;
  width: 182px;
  min-height: 287px;
  border: 1px solid rgb(var(--basic-grey-lightest));
  font-family: "PT Sans", Arial, sans-serif;
}

.product-card-info {
  display: flex;
  flex-direction: column;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

.product-card-photo {
  order: -1;
  margin: 0 auto 38px;
}

.product-card-actions {
  display: none;
  position: absolute;
  background-color: white;
  padding: 38px 0;
  width: 218px;
  top: 0;
  left: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover .product-card-actions,
.product-card:focus .product-card-actions {
  display: block;
}

.product-card-buy-btn {
  padding-bottom: 6px;
  margin-bottom: 10px;
  min-width: 115px;
  border-bottom: 3px solid var(--basic-green-darkest);
  border-radius: 3px;
  color: rgba(var(--basic-white), 1);
  background-color: var(--basic-green);
  background-image: url("../img/icon-cart-grey.svg");
  background-repeat: no-repeat;
}

.product-card-buy-btn:hover,
.product-card-buy-btn:focus {
  background-color: var(--basic-green-lighter);
}

.product-card-buy-btn:active {
  background-color: var(--basic-green-darker);
}

.product-card-bookmark-btn {
  padding: 7px 10px;
  min-width: 109px;
  border: 3px solid var(--basic-green);
  border-radius: 3px;
  color: var(--basic-grey);
  background-color: rgb(var(--basic-white));
}

.product-card-bookmark-btn:hover,
.prodcut-card-bookmark-btn:focus {
  border-color: var(--basic-grey);
  background-color: rgb(var(--basic-white));
}

.product-card-bookmark-btn:active {
  opacity: 0.5;
}

.product-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card-price {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(var(--basic-white), 1);
  background-color: var(--basic-red);
}

.product-card-old-price {
  flex-basis: 100%;
  margin-bottom: 13px;
  color: rgba(var(--basic-grey-light-darker), 1);
  text-decoration: line-through;
  background-color: transparent;
}

.product-price-button {
  padding: 10px;
  min-width: 121px;
  border-radius: 3px;
}

.manufacturer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.manufacturer-list-link {
  position: relative;
  display: flex;
  width: 220px;
  height: 145px;
  border: 1px solid rgba(var(--basic-grey-lightest), 1);
  background-color: rgba(var(--basic-white), 1);
}

.manufacturer-list-link:hover,
.manufacturer-list-link:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer-list-link:active {
  opacity: 0.5;
}

.manufacturer-list-img {
  margin: auto;
}

.services-section {
  margin-bottom: 70px;
  background-color: var(--basic-background);
}

.service-section-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 0 4px;
}

.service-heading-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;

}

.service-heading-wrapper h2 {
  flex-basis: 100%;
  margin-bottom: 25px;
}

.service-heading-wrapper p {
  flex-basis: 396px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}

.services-tabs {
  position: relative;
  flex-basis: 240px;
  margin-right: 80px;
}

.services-tabs::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -45px;
  left: 230px;
  width: 15px;
  height: 284px;
  background: url(../img/shadow.png) no-repeat;
  background-position: 0 0;
}

.tab-button {
  width: 100%;
  padding: 13px 0 18px 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: rgba(var(--basic-white), 1);
  border: 0;
  background-color: var(--basic-grey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  cursor: pointer;
}

.tab-button-active {
  box-shadow: none;
  color: var(--basic-grey);
  background-color: rgba(var(--basic-white), 1);
}

.tab-button:hover,
.tab-button:focus {
  background-color: var(--basic-grey-darker);
  color: rgba(var(--basic-white), 1);
}

.services-description {
  flex-basis: 619px;
  min-height: 283px;
}

.services-description-card {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  min-height: inherit;
}

.services-description-card-active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.services-description-card h3,
.services-description-card p {
  margin: 0;
}

.services-description-card h3 {
  margin-bottom: 30px;
}

.services-description-card p {
  width: 331px;
  margin-bottom: 28px;
}

.services-description-card .site-button {
  border-radius: 3px;
  background-color: var(--basic-red-lighter);
}

.services-description-card .site-button:active {
  background-color: var(--basic-red-darker);
}

.services-description-delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: right;
}

.services-description-warranty {
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: right;
}

.services-description-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.info-inner {
  display: flex;
  flex-wrap: wrap;
}

.about-section {
  flex-basis: 478px;
}

.about-section h2 {
  flex-basis: 100%;
  margin-bottom: 24px;
}

.about-section p {
  flex-basis: 100%;
  margin: 0;
}

.about-section p:first-of-type {
  margin-bottom: 32px;
}

.about-section .site-button {
  min-width: 200px;
}

.delivery-list {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.delivery-list-item {
  position: relative;
  padding-left: 35px;
  margin: 0;
}

.delivery-list-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  border: 1px solid var(--basic-red);
}

.delivery-list-link {
  padding-left: 12px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(var(--basic-black), 1);
}

.contact-section {
  flex-basis: 300px;
}

.contact-section h2 {
  flex-basis: 100%;
  margin-bottom: 24px;
}

.contact-section p {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 32px;
}

.contact-section-map {
  flex-basis: 100%;
  min-height: 158px;
  margin-bottom: 25px;
  background-color: var(--basic-background-secondary);
}

.contact-section-map a {
  display: flex;
}

.contact-section-map img {
  width: 100%;
  height: auto;
}

.contact-section .site-button {
  flex-basis: 100%;
}

.page-heading-container {
  background-color: var(--basic-background);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 21px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs-item:not(:last-child):after {
  content: url("../img/icon-right-small.svg");
  position: absolute;
  top: 2px;
  padding-left: 17px;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(var(--basic-black), 1);
}

.product-catalogue-wrapper {
  display: flex;
}

.filter-section {
  min-width: 220px;
  margin-right: 20px;
  text-transform: uppercase;
}

.filter-heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  background-color: var(--basic-background-secondary);
}

.filter-fieldsset {
  border: 0;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter-label {
  font-size: 15px;
  line-height: 19px;

}

.filter-button {
  border: 1px solid rgba(var(--basic-grey-light), 1);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.pagination-link {
  line-height: 18px;
  color: inherit;
  border: 1px solid rgba(var(--basic-grey-light), 1);
  border-radius: 2px;
  text-transform: uppercase;
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

.pagination-link-current {
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  color: rgb(var(--basic-white));
}

.category-description {
  background-color: var(--basic-background);
}

.site-footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: rgba(var(--basic-white), 1);
  background: linear-gradient(180deg, rgba(50, 66, 92, 1) 0%, rgba(50, 66, 92, 1) 67.5%, rgba(41, 52, 73, 1) 67.5%);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 54px;
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-grey);
}

.footer-logo {
  display: block;
  margin-bottom: 22px;
}

.footer-info {
  flex-basis: 321px;
  margin-right: 69px;
}

.footer-address {
  margin: 0;
}

.footer-tel {
  color: inherit;
}

.footer-nav {
  flex-basis: 550px;
  padding-top: 37px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.footer-nav-list:last-child {
  padding-left: 26px;
}

.footer-nav-list-item {
  display: block;
}

.footer-nav-list-link {
  color: inherit;
}

.footer-nav-list:nth-child(2) .footer-nav-list-link {
  color: var(--special-yellow-light);
}

.footer-nav-list-link:hover,
.footer-nav-list-link:focus {
  text-decoration: underline;
}

.footer-nav-list-link:active {
  opacity: 0.5;
}

.bottom-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  padding: 34px 0 29px;
}

.bottom-bar-terms {
  flex-basis: 227px;
  margin: 0;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
}

.social-network-list-item:not(:last-child) {
  margin-right: 1px;
}

.social-network-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-grey);
}

.social-network-list-link svg {
  margin: auto;
}

.social-network-list-link:hover,
.social-network-list-link:focus,
.social-network-list-link:active {
  background-color: var(--basic-red);
}
.bottom-bar-info {
  flex-basis: 286px;
  display: flex;
  justify-content: space-between;
}

.bottom-bar-info p {
  margin: 0;
}

.bottom-bar-contact {
  flex-basis: 137px;
}

.bottom-bar-copyright {
  flex-basis: 98px;
}

.bottom-bar-link {
  color: var(--special-yellow-light);
}

.bottom-bar-link:active {
  color: var(--basic-red);
}

.modal {
  border-top: 7px solid var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map {
  display: none;
}

.modal-contact {
  display: none;
  font-size: 18px;
  line-height: 24px;
}

.modal-contact-input {
  border: 2px solid rgba(var(--basic-grey-lighter), 1);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.modal-button {
  border: 0;
}

.modal-cart {
  display: none;
}
